footer {
  border-top: 3px solid $CoolGray;
  background-color: #fff;
  width: 100%;
  padding: 5px 0 5px 0;
  @media (min-width: 576px) {
    padding: 15px 0 10px 0;
  }
  @media (min-width: 768px) {
    padding: 25px 0 10px 0;
  }

  p {
    font-size: 0.8rem;
    margin: .2rem 0;
    @media (min-width: 576px) {
      margin: .3rem 0;
    }
    @media (min-width: 768px) {
      margin: .7rem 0;
    }
  }

  h5 {
    text-transform: capitalize !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
  }

  .logoCredito20Min {
    max-height: 80px;
    @media (min-width: 768px) {
      max-height: 100px;
    }
    @media (min-width: 1024px) {
      max-height: 114px;
    }
  }

  .socialShare {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;

    @media (min-width: 380px) and (max-width: 479px) {
      width: 70%;
    }

    li {
      display: inline-block;
      margin: 0 5px;

      a {
        background: url('../images/social-sprite.png') no-repeat 0 0;
        background-size: 189px 47px;
        display: inline-block;
        text-indent: -999px;
        overflow: hidden;
        align-self: center;
        width: 48px;
        height: 48px;

        &:hover {
          opacity: 0.6;
        }

        &.twitterIcon {
          background-position: 1px 0;
        }

        &.facebookIcon {
          background-position: -47px 0;
        }

        &.instagramIcon {
          background-position: -94.3px 0;
        }

        &.youtubeIcon {
          background-position: -142px 0;
        }
      }
    }
  }
  .ant-back-top {
    z-index: 55;
  }
}